.main {
  display: grid;
  grid-template-columns: 1fr 26rem;
  padding: 0rem 1.5rem 2rem 1.5rem;
  background-color: var(--cl-light-gray);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-template-rows: 1.5rem;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.grid__header {
  grid-column: 1 / -1;
  position: relative;
  top: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  background-color: var(--cl-white);
  border-left: 0.5rem solid var(--cl-electric-orange);
  border-radius: 0.5rem;

  transition: all 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.item:hover {
  border-left: 0.5rem solid var(--cl-electric-blue);
}

.item__content {
  flex: 1 1 auto;
}

.item__icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.item__icon {
  width: 2rem;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}

.article {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  max-height: max-content;
}

.article__header {
  height: 3.5rem;
  position: relative;
  top: 1rem;
}

.article__content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 0.5rem;
  background-color: var(--cl-white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 1.5rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user__icon {
  width: 3rem;
  border-radius: 50%;
}
