/* Left sidebar */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 4rem 0;
  padding: 1rem 2rem;
  color: var(--cl-white);
  background-color: var(--cl-electric-blue);
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: -0.5rem;
}

.sidebar__header-logo {
  width: 4rem;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}

.nav__section {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projects__header {
  font-size: 1.4rem;
}

.projects__footer {
  margin-top: 1rem;
}

.project {
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  left: 1rem;
}

#form-add-project {
  position: relative;
}

#btn-close-form {
  position: absolute;
  right: 0.4rem;
}

#btn-project-submit {
  margin-top: 1rem;
}
